.personal-info-container {
    background: #FFFFFF;
    border-radius: 12px;
    padding: 22px;
}
img {
    width: 100%;
    height: 100%;
    background: #C4C4C4;
    border-radius: 12px;
}


.name {
   @include md-font;
    color: #4F4F4F;
    padding-bottom: 6px;
}

.job {
   @include sm-font;
    color: #828282;
}

.name-job {
    padding-bottom: 31px;
    padding-top: 22px;
}

.email {
    @include sm-font;
    color: #4F4F4F;
    padding-left: 3rem;
    padding-bottom: 10px;
    background-image: url('../assets/email.svg');
    background-repeat: no-repeat;
    background-position: 0% 0%;
}

.phone-number {
    @include sm-font;
    color: #4F4F4F;
    padding-left: 3rem;
    background-image: url('../assets/call.svg');
    background-repeat: no-repeat;
    background-position: center left;
}

.email-phone {
    padding-bottom: 34px;
}

.description {
    @include sm-font;
    color: #828282;
    padding-bottom: 10px;
}

@media (min-width: 1000px) {
    .personal-info-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 33px;
        width: 100%;
        height: 311px;
    }
    img {
        grid-column: 1 / 2;
    }
    .personal-info {
        grid-column: 2 / 4;
    }
    .personal-info-name {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        & .name-job {
            padding-bottom: 31px;
            padding-top: 0px;
        }
    }
}