.front-end {
    background-color: white;
    margin-top: 42px;
    padding: 24px;
    border-radius: 12px;
}

.front-end-heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #4F4F4F;
    padding-bottom: 17px;
}

fieldset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    & label {
        @include sml-font;
        color: #4F4F4F;
    }
    & progress {
        width: 236.85px;
        height: 20px;
    }
}

@media (min-width: 1000px)  {
    .front-end-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .front-end {
        width: 100%;
    }
    fieldset progress {
        width: 348px;
    }

    fieldset label {
        padding-right: 2rem;
    }
}